.container {
  padding: 20px;
  background-color: #1e1e1e;
  color: white;
  min-height: 100vh;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  background: #252526;
}

th, td {
  padding: 12px;
  text-align: left;
  border-bottom: 1px solid #3e3e3e;
}

th {
  background-color: #333;
  color: #00ff00; /* Verde matrix */
}

.tcp { color: #4fc3f7; font-weight: bold; }
.udp { color: #ffb74d; font-weight: bold; }